{
  "title" :             "Google News Chrome App",
  "content_file" :      "README.md",
  "include_index" :     false,
  "docco_files" :       [
    "app/javascripts/app.js",
    "app/javascripts/background.js",
    "app/javascripts/setup.js",
    "app/javascripts/background-setup.js",
    "app/javascripts/foreground-setup.js",
    "app/javascripts/lib/*.js",
    "app/javascripts/models/*.js",
    "app/javascripts/views/*.js"
  ],
  "header" :            "Google News",
  "subheader" :         "Chrome App",
  "background" :        "whitey",
  "output" :            "docs"
}
