html{ background: #f1f1f1; }

body{
  padding-top: 4.5em;
  font: .75em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: transparent;
  color: #999;
  height: 100%;
  overflow-y: auto;
}

a{
  color: #000;
  text-decoration: none;
}

#main_nav, .news_item{ -webkit-transform: translate3d(0, 0, 0); }

::-webkit-scrollbar{
  margin-top: 300px;
  width: 9px;
  height: 9px;
  background: #fff;
  -webkit-box-shadow: inset 2px 0 3px 0 rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-thumb{ 
  background: #666;   
  -webkit-box-shadow: inset 2px 0 3px 0 rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-thumb:window-inactive{ background: #777; }

::-moz-selection{
  background: #9a1b1f;
  color: #fff; 
}

::selection{
  background: #9a1b1f;
  color: #fff; 
}
