#main_nav{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
  background: url(../../logo.png) center no-repeat, -webkit-linear-gradient(top, #333 0%, #060606 100%);
  background-size: auto 65%, auto;
  -webkit-transition: opacity .6s ease;
}

.in_scroll #main_nav{ opacity: .9; }

#main_nav:hover{ opacity: 1; }

.right_icon_list{
  position: absolute;
  top: 0;
  right: 4px;
}

  .icon_list li{ 
    display: inline-block;
    position: relative; 
  }
  
    .icon_list li a{
      display: block;
      margin-right: -4px;
      position: relative;
      padding: 1.5em;
      font-weight: 600;
      outline: none;
      color: #fff; 
      opacity: .75;
      -webkit-transition: all .3s ease;
    }
    
    .icon_list > li > a:before, .icon_list > li > a:after{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      background: -webkit-linear-gradient(top, #333 0%, #262626 100%);
    }
    
    .icon_list > li > a:before{ left: 0; }
    
    .icon_list > li > a:after{ right: 0; }
    
    .icon_list > li:not(.icon){ text-transform: uppercase; }
    
    .icon_list li.icon > a{
      padding: 1em;
      font: 1.5em/1 Pictos;
    }
    
      .icon_list > li a:hover{ 
        background: -webkit-linear-gradient(top, #444 0%, #111 100%);
        opacity: 1; 
      }
      
      .icon_list > li a:active{ 
        -webkit-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 1);
        background: -webkit-linear-gradient(top, #000 0%, #222 100%);
        opacity: 1; 
      }


.dropdown{
  display: none;
  position: absolute;
  z-index: 9999;
  margin-left: -90px;
  padding: 6px 0;
  left: 50%;
  width: 180px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .6);
  background: rgba(60, 60, 60, .98);
  color: #fff;
}

.icon_list li:hover .dropdown{ display: block; }

.dropdown:before{
  content: "";
	position: absolute;
  bottom: 100%;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
  border: solid transparent;
	border-bottom-color: rgba(60, 60, 60, .98);
	border-width: 9px;
}

.content_block{
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 1px solid #666;
}

.hint{ 
  font-size: 1.2em;
  margin-bottom: 10px;
}

.content_block:last-of-type{ border: 0; }